p.lion{
    background-color: red;
}

.lion{
    color: sienna;
}
ul > .lion{
    background-color: greenyellow;
}
#tiger{
    background-color: yellow;
}
.zoo .lion{
    font-weight: bold        ;
}
#tiger + li {
    background-color: skyblue;
}
li.lion ~ li {
    background-color: orange;
}
/* li.liong~li */