 div{
    width: 800px;
    height: 500px;
    background-color: skyblue;
    background-image: url(./img/lion.png);
}

.background-image1{
    background-position: center;
    background-repeat: repeat-x;
}
.background-image2{
    background-size: contain;
    left: 100px;
    top: 30px;
}
.background-image3{
    background-size: cover;
    background-position: top;
    /* background-position: bottom; */
    /* background-position: right; */
    /* background-position: left; */
}
