
.line{
    width: 490px;
    height: 490px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    background:linear-gradient(pink, rgb(85, 0, 255), red, orange );
}

.white-line{
    width: 470px;
    height: 470px;
    background-color: white;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    top: 10px;
}

.profile{
    background-image: url(./img/pooh.png);
    width: 450px;
    height: 450px;
    background-color: white;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
    top: 10px;
}
